/* ANIMATIONS */
.initAnimate{
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}
.scaleUpVerCenter{
	animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scaleInCenter{
	animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scaleOutCenter{
	animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.fadeInFwd{
	animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.hearBeat{
	animation: heartbeat 1.5s ease-in-out both;
}
.puff-out-center{
	animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}
.scale-vert-center{
	animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bottom{
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
	  transform: rotate(360deg);
	}
}

@keyframes dashLoader {
	0% {
	  stroke-dasharray: 1, 200;
	  stroke-dashoffset: 0;
	}
	50% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -35px;
	}
	100% {
	  stroke-dasharray: 89, 200;
	  stroke-dashoffset: -124px;
	}
}

@keyframes arrow {
	0% {
		transform:translate(0);
	}
	50% {
		transform:translate(0,-5px);
	}
	100% {
		transform:translate(0);
	}
}

@keyframes bg {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes arrowL {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(-10px,0);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes arrowL2 {
	0% {
		transform: translate(0) rotate(180deg);
	}
	50% {
		transform: translate(-10px,0) rotate(180deg);
	}
	100% {
		transform: translate(0) rotate(180deg);
	}
}

@keyframes arrowR {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(10px,0);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes arrowR3 {
	0% {
		transform: translate(0) rotate(270deg);
	}
	50% {
		transform: translate(10px,0) rotate(270deg);
	}
	100% {
		transform: translate(0) rotate(270deg);
	}
}
@keyframes arrowR2 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(-10px,0);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes arrowB {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0,5px);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes goDown {
	0% {
		transform: translate(0);
	}
	
	100% {
		transform: translate(0,5px);
	}
}

/**
 * ----------------------------------------
 * animation scale-up-bl

 animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-bl {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
  }
  @keyframes scale-up-bl {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	}
  }

/**
 * ----------------------------------------
 * animation scale-in-bl
  animation: scale-in-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-bl {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-bl {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
  }

/**
 * ----------------------------------------
 * animation scale-in-br
 animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-br {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-br {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 100% 100%;
			  transform-origin: 100% 100%;
	  opacity: 1;
	}
  }

/**
 * ----------------------------------------
 * animation fade-in-fwd
   animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
	0% {
	  -webkit-transform: translateZ(-80px);
			  transform: translateZ(-80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }
  @keyframes fade-in-fwd {
	0% {
	  -webkit-transform: translateZ(-80px);
			  transform: translateZ(-80px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
	  opacity: 1;
	}
  }

/**
 * ----------------------------------------
 * animation scale-up-ver-center
 * animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }
  @keyframes scale-up-ver-center {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	}
  }


/**
 * ----------------------------------------
 * animation scale-in-center
 *  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }
  @keyframes scale-in-center {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
  }


/**
 * ----------------------------------------
 * animation scale-out-center
 * animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
  }
  @keyframes scale-out-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  opacity: 1;
	}
  }
  


/**
 * ----------------------------------------
 * animation scale-up-center
 *  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(0.5);
			  transform: scale(0.5);
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
  }
  
// Loop from 1-12.
@for $i from 1 through 12 {
	.cascadeCard {
	  &:nth-child(#{$i}) {
		// Delay the animation. Delay increases as items loop.
		animation-delay: $i * (.08s);
	  }
	}
  }
 

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }


/**
 * ----------------------------------------
 * animation tracking-out-contract
 * animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-contract {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
  }
  @keyframes tracking-out-contract {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
  }

/**
 * ----------------------------------------
 * animation heartbeat
 * animation: heartbeat 1.5s ease-in-out  both;
 * ----------------------------------------
 */

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-9-15 15:49:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-out-center
 * animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
 * ----------------------------------------
 */
 @-webkit-keyframes puff-out-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(2);
			  transform: scale(2);
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	  opacity: 0;
	}
  }
  @keyframes puff-out-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scale(2);
			  transform: scale(2);
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	  opacity: 0;
	}
  }


/**
 * ----------------------------------------
 * animation scale-in-ver-bottom
 * animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-bottom {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-ver-bottom {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 0% 100%;
			  transform-origin: 0% 100%;
	  opacity: 1;
	}
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-10-9 14:41:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-bottom {
	0% {
	  -webkit-transform: translateY(1000px);
			  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  

/**
 * ----------------------------------------
 * animation slide-in-top
 * animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  @keyframes slide-in-top {
	0% {
	  -webkit-transform: translateY(-1000px);
			  transform: translateY(-1000px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  opacity: 1;
	}
  }
  