
<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Rediseño BOCA</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter nzIcon="HomeOutlined">
              <a routerLink="home">Home</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="users">Users</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <!-- <a routerLink="problems">Create problems</a> -->
              <a routerLink="problems" nz-dropdown [nzDropdownMenu]="menu">
                Create problems
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item>1st menu item</li>
                  <li nz-menu-item>2nd menu item</li>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item nzDanger>4th danger item</li>
                </ul>
              </nz-dropdown-menu>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="logs">View logs</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="historics">Historics</a>
            </li>
          </ul>
        </li>
       
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  
  